{{ define "content" }}
{{ range .Gyms }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">Gym: {{ .Name }}</span>
      <div class="pull-right">
        Location: {{ .Address }}
      </div>
    </div>

    <div class="panel-body">
      <h4>Reviews:</h4>
    </div>
  </div>
{{end}}

{{ if .Reviews }}
  {{ range .Reviews }}
    <!-- Display reviews -->
    <div class="review">
      <p>{{ .Body }}</p>
    </div>
  {{ end }}
{{ else }}
  <!-- Display if there are no reviews -->
  <p>No reviews yet.</p>
{{ end }}
  {{ range .Gyms }}
  <form role="form" action="/gym/post" method="post">
    <div class="lead">Write a review for this gym</div>

    <!-- Assuming you have a hidden input field to store the gym ID or UUID -->
    <input type="hidden" name="uuid" value="{{ .Uuid }}">

    <div class="form-group">
      <!-- Assuming you have a textarea for the review body -->
      <textarea class="form-control" name="body" id="body" placeholder="Write your review here" rows="4"></textarea>
      <br/>
      <br/>
      <button class="btn btn-lg btn-primary pull-right" type="submit">Submit Review</button>
    </div>
  </form>
  {{end}}
{{ end }}
