{{ define "content" }}
  {{ range .Gyms }}
    <div class="mx-auto max-w-md bg-white shadow-md p-6 mb-6">
      <div class="text-2xl font-bold text-center">Gym: {{ .Name }}</div>
      <div class="text-sm text-center text-gray-600">Location: {{ .Address }}</div>
    </div>

    <!-- Reviews Section -->
    <div class="mx-auto max-w-md mt-4">
      <h2 class="text-lg font-semibold text-center">Reviews:</h2>
      {{ end }}
      {{ if .Reviews }}
        {{ range .Reviews }}
          <div class="mt-4 p-4 bg-gray-100 rounded-md">
            <p class="text-gray-800">{{ .Body }}</p>

            <!-- Ratings -->
            <div class="flex flex-wrap mt-2 justify-center">
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Location: {{ .Location }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Facilities: {{ .Facilities }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Equipment: {{ .Equipment }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Dumbells: {{ .Dumbells }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Internet: {{ .Internet }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Happiness: {{ .Happiness }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Clean: {{ .Clean }}/5</p>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-2">
                <p class="text-center">Trainers: {{ .Trainers }}/5</p>
              </div>
            </div>
          </div>
        {{ end }}
      {{ else }}
        <!-- Display if there are no reviews -->
        <p class="mt-4 text-center text-gray-600">Be the first to write a review!</p>
      {{ end }}
    </div>

    <!-- Create New Review Button -->
    <a href="/gym/new?id={{.Uuid}}" class="block mx-auto mt-4 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">Create New Review</a>
  {{ end }}

